body {
    background-color: #ffffff;
    margin: 0;
    text-align: center;
}
.className {
    font-size: 14px !important;
}
div {
    text-align: center;
}
h2 {
    margin: 0.2em;
    font-size: 20px;
    padding-inline-end: 10px;
    padding-inline-start: 10px;
}
#toDoWrapperWrapper {
    grid-area: td;
    place-content: center;
}
.toDoType {
    grid-area: tdt;
}
.toDoName{
    grid-area: tdn;
}
.toDoClass{
    grid-area: tdc;
}
.toDoDue{
    grid-area: tdd;
}
.announcementsWrapperWrapper {
    place-content: center; 
}
.announcmentTitle {
    grid-area: at;
}
.announcementClass{
    grid-area: ac;
}
.announcementDate{
    grid-area: ad;
}
.sideBarWrapper{
    grid-area: sb;
}
.classesWrapper {
    grid-area: c;
    display: grid;
    grid-template-areas:
        'cn cn cn';
    gap: 0px;
}
    .classesWrapper > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 7px;
        font-size: 10px;
    }
.toDoWrapper {
    display: grid;
    grid-template-areas:
        'tdt tdn tdc tdd';
    gap: 0;
}
    .toDoWrapper > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 20px 0;
        font-size: 14px;
    }
.assignmentSubmitted {
    color: green;
}
.assignmentLate {
    color: darkred;
    text-decoration: underline;
}
.assignmentPaper {
    text-decoration: line-through;
}
.assignmentLocked {
    text-decoration: wavy;
    color: darkblue;
}
.assignmentGraded {
    color: green;
    text-decoration: line-through;
}
.hidden {
    display: none;
}
.filtersActive {
    display: flex;
    background-color: gray;
    text-align: center;
}
.announcementWrapper {
    grid-area: a;
    display: grid;
    grid-template-areas:
        'at ac ad'
        'at ac ad'
        'at ac ad';
    gap: 0;
}
    .announcementsWrapper > div {
        background-color: rgba(255, 255, 255, 0.8);
      text-align: center;
      padding: 10px 0;
      font-size: 30px;
    }

.main {
    display: grid;
    object-fit: fill;
    grid-template-areas:
        'sb c c c c c c a a a'
        'sb c c c c c c a a a'
        'sb td td td td td td a a a'
        'sb td td td td td td a a a';
        gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

    .main > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
    }